.button{
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #c44500;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    cursor: pointer;
    
}